#WWD {
    text-align: center;
    background-color: rgb(128, 128, 128);
}
.center-text{
    text-align: center;
}
#navbar{
    display: flex; gap: 10px;
}
#footer {
        position: absolute;
        top: 1230px;
        left: 850px;
}
#Jotain{
    background-color: rgb(128, 128, 128);
}
#navbar{
    background-color: rgb(90, 90, 90);
}
#WFU {
    background-color: rgb(138, 138, 138);
}
#LS {
    background-color: rgb(138, 138, 138);
}