#WWD {
    text-align: center;
    background-color: gray;
}
.center-text{
    text-align: center;
}
#navbar{
    display: flex; gap: 10px;
}
#footer {
        position: absolute;
        top: 1230px;
        left: 850px;
        background-color: gray;
}
#jotain .btn {
    margin-right: 10px;
}
.footer {
   position: absolute;
   top: -100px;
   left: 0px;
   background-color: gray;
}